.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-top: 50px;
    margin-bottom: 50px;
}

.qr-container {
    margin: 25px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border-color: #ffffff; 
    background-color: #49a6f1; 
    color: #ffffff; 
    transition: background-color 0.3s ease; 
    cursor: pointer;
    margin-bottom: 25px;
}

.button:hover {
    background-color: #0288f5;
}

.logout-button {
    position: fixed;
    top: 50px;
    right: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border-color: #ffffff; 
    background-color: #ff0000;
    color: #ffffff; 
    transition: background-color 0.3s ease; 
    cursor: pointer;
}

.logout-button:hover {
    background-color: #cc0000;
}

.message {
    font-size: 19px;
    color: rgb(54, 54, 54);
    font-weight: bold;
}